.logIn{
    letter-spacing: 2px;
    width: 100px;
    height: 40px;
    padding: 0px;
    margin: 2rem 0px 0px 1rem !important;
}
.errMessage{
    visibility: hidden;
    display: none;
    height: 25px;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff000014;
    border-radius: 50px;
    color: red;    
}